 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Work+Sans:ital,wght@0,500;0,700;1,500;1,600&display=swap');

 * {
     font-family: 'Poppins', sans-serif;
     font-family: 'Work Sans', sans-serif;
 }

 /* nav bar */
 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     background: #FFF;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
     width: 100%;

 }

 .logo {
     display: flex;
     justify-content: center;

 }

 .gm-icon {
     padding: 42px 0px;
     margin: 0px 10px;
 }

 .gm-header {
     font-size: 45px;
     font-weight: 700;
     margin: 32px 0px;

 }

 .c-1 {

     color: #FF42A5;


 }

 .c-2 {
     color: #0B0223;

 }

 nav>div>ul {
     list-style: none;
     display: flex;

 }

 .menu-bar {
     color: #3C354F;
     text-align: center;
     font-size: 18px;
     font-weight: 500;
 }


 nav li {
     justify-content: space-around;
     margin: 10px 20px;
 }

 .m-1 {
     border-radius: 8px;
     background: rgba(11, 2, 35, 0.10);
     border: 0px;
     width: 194px;
     height: 41px;


 }

 .m-1:hover {
     background-color: rgb(175, 169, 169);
 }

 .f-1 {
     text-align: center;
     color: #3C354F;
     font-size: 16px;
     font-weight: 500;

 }

 .p-1 {
     width: 28.9px;
     height: 14px;
 }

 /* main section-1 */
 .banner-container {
     display: flex;
     justify-content: space-around;

 }

 .banner-content {
     background-image: url("../Assignment-2/images/group.png");
     /* fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%); */
     width: 1501.5px;
     height: 500px;
     background-position: left;
     background-repeat: no-repeat;
 }

 .banner-content h3 {
     color: #0B0223;
     font-size: 48px;
     font-weight: 600;
     margin: 144px 0px 0px 233px;

 }

 .banner-content h1 {

     margin: 0px 0px 0px 225px;
     font-size: 95px;
     font-weight: 800;
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;

 }

 .banner-content p {

     color: #534C64;
     font-size: 20px;
     font-weight: 500;
     text-transform: lowercase;
     margin: 0px 0px 0px 264px;
 }

 .banner-content .pink {
     padding: 7px 28px 12px 29px;
     border-radius: 48px;
     background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
     margin: 24px 0px 0px 251px;
     border: 0px;
     color: #FFF;
     font-size: 16px;
     font-weight: 500;

 }

 .banner-content .blue {
     padding: 7px 30px 13px 30px;
     border-radius: 48px;
     background: #4EC5F7;
     margin: 24px 0px 0px 9px;
     border: 0px;
     color: #FFF;
     font-size: 16px;
     font-weight: 500;
 }

 .ban-img {
     width: 438px;
     height: 472px;
     margin-top: 34px;
     margin-left: 200px;
     margin: 34px 151px 0px 10px;
 }

 .second-ban-container {
     display: flex;
     justify-content: space-around;
     background-color: #faecf3;
     margin-top: -3px;

 }

 .second-img {
     margin: 0px;
     padding: 0px;
     width: 868px;
     height: 489px;

 }

 .ss-im {
     width: 772px;
     height: 464px;
     margin: 0px 42px 0px 53px;
 }

 .second-ban {
     margin: 54px 0px 0px 0px;
 }

 .second-ban h4 {

     font-size: 48px;
     font-weight: 700;
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     margin: 28.84px 0px 0px 118px;
 }

 .second-ban p {
     color: #534C64;
     font-size: 18px;
     font-weight: 400;
     margin: 21px 76px 18px 83px
 }

 .second-ban .second-pink {
     padding: 9px 16px 12px 11px;
     margin: 4px 0px 0px 208px;
     border-radius: 48px;
     background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
     color: #FFF;
     font-size: 20px;
     font-weight: 600;
     text-transform: uppercase;
     border: 0px;

 }

 .s-1 {
     margin-left: 174px;
 }


 /* third section */
 .thr-sec {
     margin: 100px;
 }

 .thr-content {
     margin: 0px 350px;
 }

 .thr-sec h2 {
     font-size: 48px;
     font-weight: 700;
 }

 .thr-1 {
     color: #0B0223;

 }

 .thr-2 {
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;


 }

 .thr p {
     color: #534C64;
     font-size: 18px;
     font-weight: 400;
     margin-left: 91px;
 }

 .third-img {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     margin: 36px 143px 0px 143px;

 }

 .thr-img-1 {
     margin-left: 32px;
 }


 .thr-img {
     width: 231px;
     height: 278px;

 }

 .thr-btn {
     background-color: #d4089d;
     cursor: pointer;
     border: 0px;
     border-radius: 5px;
     padding:5px;



 }

 .thr-btn:hover {

     background-color: #9c7575;

 }

 .thr-img-1 .watch {
     position: relative;
     width: 48px;
     height: 48px;
     border-radius: 8px;
     color: rgb(238, 231, 231);
     position: relative;
     bottom: 269px;
     cursor: pointer;
     margin:0px 0px 0px 80px;

 }
 
 .thr-img-1 .watch p{
    margin:8px 4px 94px 0px;
  

 }